form{
    margin-top: 180px;
    position: relative;
}

label{
    color: white;
}

.box {
    width: 600px;
    height: 300px;
    position: fixed;
    margin-top: -80px;
    margin-left: -20px;
    background-color: #141414;
    opacity: 0.30;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    text-align: center;
  }

  button{
    width: 100px;
    margin-left: 450px;
    border-radius: 50px;
  }

  .form-group{
    border-radius: 50px;
  }
  h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.5;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.1px;
    text-align: center;
    margin-top: -250px;
  }