
<section class="intro">
    <h3>Liste des demandes de consultation</h3>
      <div class="bg-image h-100" >
        <div class="mask d-flex align-items-center h-100">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="card shadow-2-strong" style="background-color: #ffffffb8;">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-borderless mb-0">
                        <thead>
                          <tr>
                            <th scope="col">
                             
                            </th>
                            <th scope="col">N° Dossier</th>
                            <th scope="col">Nom personnel</th>
                            <th scope="col">Date de réservation</th>
                            <th scope="col">Date consultation</th>
                            <th scope="col">Date de retour</th>
                            <th scope="col">Etat</th>
                            <th scope="col">Supprimer</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let consultation of data | paginate: { itemsPerPage: iteamsPerPage, currentPage: p }">
                            <th scope="row">
                              
                            </th>
                            <td>{{consultation.codeDossier}}</td>
                            <td>{{consultation.namePer}}</td>
                            <td>{{consultation.currentDate}}</td>
                            <td>{{consultation.dateRes}}</td>
                            <td>{{consultation.dateRet}}</td>
                            <td>
                              
                              <button [style.background-color]="consultation.etat === 1 ? 'red' : 'green'" (click)="rechercheDossier(consultation)">
                                {{consultation.etat === 1 ? 'Reservé' : 'Non reservé' }}
                              </button>
                            </td>
                            <td>
                              <button type="button" class="btn btn-danger" (click)="deleteConsultation(consultation.codeDossier)">X</button>

                            </td>
                          </tr>
                          
                        </tbody>
                        
                      </table>
                      <div class="mt-8 py-10 d-flex justify-content-center">
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
