<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Glassmorphism button</title>
</head>

<body>
	<div class="container">
		<div class="btn"><a routerLink="transfert">Transfert</a> </div>
		<div class="btn"><a routerLink="RechercheD" >Recherche</a></div>
		<div class="btn"><a routerLink="listReservation" >Demande consultation</a></div>
		<div class="btn" id="disabledBtn"><a routerLink="demande-archi" >Demande ArchiDoc</a></div>

	</div>		
</body>
