
<section class="intro">
    <h3>Liste ArchiDoc </h3>
      <div class="bg-image h-100" >
        <div class="mask d-flex align-items-center h-100">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="card shadow-2-strong" style="background-color: #ffffffb8;">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-borderless mb-0">
                        <thead>
                          <tr>
                            <th scope="col">
                             
                            </th>
                            <th scope="col">N° Dossier</th>
                            <th scope="col">Date de stockage </th>
                            <th scope="col">Etat</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">
                              
                            </th>
                            <td>1234567891</td>
                            <td>10/02/2023</td>
                            <td>
                              
                                <button type="button" class="btn btn-success btn-sm px-3"  style="padding: 15px; margin: 5px;">
                                <i class="fas fa-times">Livrer</i> 
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              
                            </th>
                            <td>9876543212</td>
                            <td>03/12/2023</td>
                            <td>
                              <button type="button" class="btn btn-success btn-sm px-3" style="padding: 15px; margin: 5px;">
                                <i class="fas fa-times">Livrer</i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              
                            </th>
                            <td>14253696857</td>
                            <td>02/07/2023</td>
                            <td>
                              <button type="button" class="btn btn-success btn-sm px-3" style="padding: 15px; margin: 5px;">
                                <i class="fas fa-times">Livrer</i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              
                            </th>
                            <td>96857414253</td>
                            <td>25/11/2023</td>
                            <td>
                              <button type="button" class="btn btn-danger btn-sm px-3" style="padding: 15px; margin: 5px;">
                                <i class="fas fa-times">Expiré</i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              
                            </th>
                            <td>100203451782</td>
                            <td>24/11/2023</td>
                            <td>
                              <button type="button" class="btn btn-danger btn-sm px-3" style="padding: 15px; margin: 5px;">
                                <i class="fas fa-times">Expiré</i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              
                            </th>
                            <td>98753321789</td>
                            <td>02/01/2024</td>
                            <td>
                              <button type="button" class="btn btn-success btn-sm px-3" style="padding: 15px; margin: 5px;">
                                <i class="fas fa-times">Livrer</i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              
                            </th>
                            <td>20141965412</td>
                            <td>10/12/2023</td>
                            <td>
                              <button type="button" class="btn btn-danger btn-sm px-3" style="padding: 15px; margin: 5px;">
                                <i class="fas fa-times">Expiré</i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>