body {
  position: fixed;
  left: 715px;
  top: -59px;
  height: auto; 
  font-family: Raleway, sans-serif;
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 73px;     /* Center vertically (if needed) */ 
}

.container-fluid {
  background-color: transparent;
  border-bottom: 0.04vw solid #fff; /* Use viewport width for relative border thickness */
}

/* Additional styles for responsiveness */
@media only screen and (max-width: 120px) {
  body {
    top: 0; /* Adjust position for smaller screens */
  }
}
button{
  border: none;
}
@keyframes rotate {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
  }
}



/* Apply the animation to the image */
img {
  animation: rotate 5s linear infinite;   /* Adjust the duration and timing function as needed */
}


 