
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun">
	<meta name="description" content="Simple Forgot Password Page Using HTML and CSS">
	<meta name="keywords" content="forgot password page, basic html and css">
	<title></title>
</head>
<body>
	<div class="row">
		<h2>Modifier mot de passe</h2>
		
		<div class="form-group">
            <p><label for="username">Nom d'utilisateur :</label></p>
			<input type="text" name="email" id="userName" [(ngModel)]="userName" >
            <p><label for="username">new password :</label></p>
			<input type="password" name="newPassword" id="new_Password" [(ngModel)]="newPassword" >
            <p><label for="username">confirmed password :</label></p>
			<input type="password" name="confirmedPassword" id="confirmed_password" [(ngModel)]="confirmedPassword" >
			
			<button (click)="changePassword()">Change</button>
		</div>
		
	</div>
</body>
